.page-content{ width:1000px; padding-left: 192px; float: left; padding-top: 73px ; padding-bottom: 90px; }

.banner{ background: url('../img/banners/investor-1.jpg') no-repeat center center; background-size: cover;}

.navigation-2{ top: 200px; position:absolute; left: 0px;}

.years_box_title{ float: left; width: 120px; font-size: 36px; line-height: 47px; }
.years_box_content{ float: left; width: 660px;}
.events_box{ padding-bottom: 40px;}
.event .left{ width: 85%;}
.events_title{ font-size: 30px; height: 47px; line-height: 47px; padding-bottom: 32px;}
.event .title{  line-height: 29px; padding-bottom: 4px; font-size: 16px;}
.event .title a{ color:#2a2e2e;}
.event .date{ height: 26px; line-height: 26px; padding-bottom: 33px;}
.event img{ padding-top: 10px; width: 32px;}

.navigation-3{ display: none;}
@media screen and (max-width: 769px) {
    .years_box_title{ font-size: 24px; margin-bottom: 20px;}
    .f-content .page-content{ width: 92%; margin: auto;}
    .years_box_content{ width: 100%;}
    .event .title{ height: auto; line-height: 24px;}

    .events_box .left{ width: 75%}
    .navigation-3{ display: block;}

    .page-main{ position: relative;}
    .page-main .bg{ position:absolute; width: 100%; height: 100%; background: rgba(0,0,0,0.3); z-index: 1; display: none;}
    .banner {
        background-position: right center;
    }
}
