.banner{ background: url('../data/level-3-page/banner.jpg'); background-size: cover;}
.page-content{ padding-top: 56px; padding-bottom: 200px; overflow: hidden;}
.box-1{ float: left; margin-right: 24px;}

.box-1_1{ margin-right: 0px;}